html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: #fff !important;
  }
  #print-area {
    page-break-inside: avoid;
  }
  .sticker-print {
    width: 3.5in !important;
    max-width: none !important;
    margin: 0 auto;
  }
}
